/ main#main-container style="min-height: 527px;"
/   / Подшапка? x_X
/   div.content.bg-gray-lighter
/     div.row.items-push
/       div.col-sm-7
/         h1.page-heading
/           = "Новости и обновления: "
/           small
/             | Статистика, новости, обновления системы
/       div.col-sm-5.text-right.hidden-xs
/         ol.breadcrumb.push-10-t
/           li
/             | Life is strange
/           li
/             = link_to 'Главная', dashboard_path, class: 'link-effect'
/
/   / Основной контент страницы
/   div.content
/     div.row
/       / Блок со статистикой по монетам
/       div.col-lg-8
/         div.block
/
/           div.block-header
/             h3.block-title
/               | Статистика по монетам за год
/
/           div.block-content.block-content-full.bg-gray-lighter.text-center
/             div style="height: 374px;"
/               canvas#CoinsChart style="width: 100%; height: 100%;"
/
/         / Сломанный футер у блока статистики
/           div.block-content.text-center
/             div.row.items-push.text-center
/               div.col-xs-6.col-lg-3
/                 div.push-10
/                   i.sisi-star.fa-2x
/                 div.h5.font-w300.text-muted
/                   | + 1 монета
/               div.col-xs-6.col-lg-3
/                 div.push-10
/                   i.sisi-users.fa-2x
/                 div.h5.font-w300.text-muted
/                   | + 1 проект
/               div.col-xs-6.col-lg-3visible-lg
/                 div.push-10
/                   i.sisi-wallet.fa-2x
/                 div.h5.font-w300.text-muted
/                   | 100 рублей
/               div.col-xs-6.col-lg-3visible-lg
/                 div.push-10
/                   i.sisi-graph.fa-2x
/                 div.h5.font-w300.text-muted
/                   | + 100% рост
/
/
/       div.col-lg-4
/         div.block
/           div.block-header
/             h3.block-title
/               | Прогресс разработки
/               small
/                 = " по модулям"
/           div.block-content
/
/             h4.h5.push-15
/               | Главная страница
/             div.progress.active
/               div.progress-bar.progress-bar-success.progress-bar-striped role="progressbar" aria-valuenow="#{@dashboard_done}" aria-valuemin="0" aria-valuemax="100" style="width: #{@dashboard_done}%;"
/                 = @dashboard_done.to_s + " %"
/
/             h4.h5.push-15
/               | Блоги
/             div.progress.active
/               div.progress-bar.progress-bar-primary.progress-bar-striped role="progressbar" aria-valuenow="#{@blogs_done}" aria-valuemin="0" aria-valuemax="100" style="width: #{@blogs_done}%;"
/                 = @blogs_done.to_s + " %"
/
/             h4.h5.push-15
/               | Тренажёрный зал
/             div.progress.active
/               div.progress-bar.progress-bar-warning.progress-bar-striped role="progressbar" aria-valuenow="#{@gym_done}" aria-valuemin="0" aria-valuemax="100" style="width: #{@gym_done}%;"
/                 = @gym_done.to_s + " %"
