<nav class="main-nav dark stick-fixed js-transparent transparent">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">
      <a href="mp-index.html" class="logo">
        <img src="http://rhythm.bestlooker.pro/images/logo-white.png" alt="">
      </a>
    </div>
    <div class="mobile-nav" style="height: 75px; line-height: 75px; width: 75px;">
      <i class="fa fa-bars"></i>
    </div>

    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist">

        <!-- Item With Sub -->
        <li>
          <a href="#" class="mn-has-sub" style="height: 75px; line-height: 75px;">Home <i class="fa fa-angle-down"></i></a>

          <!-- Sub Multilevel -->
          <ul class="mn-sub mn-has-multi" style="display: none;">

            <!-- Sub Column -->
            <li class="mn-sub-multi">
              <a class="mn-group-title">Multi Page</a>

              <ul>
                <li>
                  <a href="mp-index.html">Main Demo</a>
                </li>
                <li>
                  <a href="mp-index-01.html">Image Parallax 1</a>
                </li>
                <li>
                  <a href="mp-index-02.html">Image Parallax 2</a>
                </li>
                <li>
                  <a href="mp-index-03.html">Image Parallax 3</a>
                </li>
                <li>
                  <a href="mp-index-04.html">Image Parallax 4</a>
                </li>
                <li>
                  <a href="mp-index-06.html">Image Parallax 5</a>
                </li>
                <li>
                  <a href="mp-index-12.html">Fullwidth Image</a>
                </li>
                <li>
                  <a href="mp-index-05.html">Text Rotator</a>
                </li>
                <li>
                  <a href="mp-index-07.html">Slider Fullscreen</a>
                </li>
                <li>
                  <a href="mp-index-08.html">Slider Zoom Effect</a>
                </li>
                <li>
                  <a href="mp-index-09.html">Slider Fullwidth</a>
                </li>


              </ul>

            </li>
            <!-- End Sub Column -->

          </ul>
          <!-- End Sub Multilevel -->

        </li>
      </ul>
    </div>
    <!-- End Main Menu -->


  </div>
</nav>
